<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Direccion[]|\Cake\Collection\CollectionInterface $direccion
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Direccion'), ['action' => 'add']) ?></li>
    </ul>
</nav>
<div class="direccion index large-9 medium-8 columns content">
    <h3><?= __('Direccion') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('estudiante') ?></th>
                <th scope="col"><?= $this->Paginator->sort('calle') ?></th>
                <th scope="col"><?= $this->Paginator->sort('numeroint') ?></th>
                <th scope="col"><?= $this->Paginator->sort('numeroext') ?></th>
                <th scope="col"><?= $this->Paginator->sort('colonia') ?></th>
                <th scope="col"><?= $this->Paginator->sort('delegacion') ?></th>
                <th scope="col"><?= $this->Paginator->sort('cp') ?></th>
                <th scope="col"><?= $this->Paginator->sort('estado') ?></th>
                <th scope="col"><?= $this->Paginator->sort('pais') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($direccion as $direccion): ?>
            <tr>
                <td><?= $this->Number->format($direccion->id) ?></td>
                <td><?= $this->Number->format($direccion->estudiante) ?></td>
                <td><?= h($direccion->calle) ?></td>
                <td><?= h($direccion->numeroint) ?></td>
                <td><?= h($direccion->numeroext) ?></td>
                <td><?= h($direccion->colonia) ?></td>
                <td><?= h($direccion->delegacion) ?></td>
                <td><?= h($direccion->cp) ?></td>
                <td><?= h($direccion->estado) ?></td>
                <td><?= h($direccion->pais) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $direccion->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $direccion->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $direccion->id], ['confirm' => __('Are you sure you want to delete # {0}?', $direccion->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
